<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/other.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Ticket</title>
</head>
<body>
    <form method="POST" >
        <div id="main">
            <input class="in box" type="password" name="id" required placeholder="ID">
            <input class="in btn"type="submit" value="Submit">
        </div>
    
    </form>
</body>
</html>